form {
  margin-top: 2.5rem;

  fieldset {
    display: grid;
    gap: 1rem;
    border: none;
    margin-bottom: 3rem;

    legend {
      font: var(--heading-sm);
      color: var(--text-heading);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-bottom: 1.5rem;

      img {
        max-width: 1.5rem;
      }
    }
  }
}

label {
  font: var(--body-sm);
  color: var(--text-body);

  &.mb-12 {
    display: block;
    margin-bottom: 0.75rem;
  }
}

input, textarea {
  appearance: none;
  width: 100%;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  background-color: var(--input-base);
  padding: 0.812rem 0px 0.812rem 1rem;
  color: var(--text-heading); 

  &:focus {
    outline: 1px solid var(--brand-light);
    color: var(--text-heading);
    outline-offset: .1px;
  }

  &[type="date"] {
    color: var(--input-placeholder);
    text-transform: uppercase;
    font-variant: normal;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
}

textarea {
  max-width: 35rem;
}

::-webkit-input-placeholder {
  color: var(--input-placeholder);
}

.erro {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;

  & img {
    max-width: 1rem;
  }

  span {
    color: var(--danger);
    font: var(--body-xs);
  }
}

input.erro,
textarea.erro {
  border: 1px solid var(--danger);
}

input[type="file"].erro {
  border: none;
}

.upload-button.erro .button span {
  color: var(--text-heading) ;
}

.upload-button.erro .upload-text {
  color: var(--input-placeholder) ;
}
